.profile {
    display: flex;
    font-size: 15px;
    flex-direction: row;
    border-bottom: 1px solid #ababab;
    padding-bottom: 10px;
}

.info {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 17px;
}

.birthday {
    color: #AEAEAE;
}