body{
    max-width: 1600px;
    margin:0 auto;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.top-content{
    display: flex;
    background-image: url("../img/roomBG.png"),linear-gradient(315.06deg, #152649 5%, #4F525C 100%);
    color:#DBE4F1;
    background-repeat: no-repeat;
    background-position:top center;
    background-size: cover;
    width:100%;
}

.container{
    width: 75%;
    margin:0 auto;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding-top: 31px;
    margin-bottom: 90px;
}

.menu__navbar{
    margin: 0;
    display: flex;
    list-style-type: none;
}

.nav-item{
    margin-left: 25px;
    font-size: 16px;
}

.nav-item:first-child{
    margin-left:0px;
}

.nav-link{
    text-decoration: none;
    color:#DBE4F1;
}

.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:60%;
    margin:0 auto;
}

.header-content__slogan{
    font-size: 30px;
    color: #ffff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

.header-content__slogan h1{
    margin:0;
}

.header-content__subtitle{
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;  
    line-height: 34px;
}

.header-content__button{
    margin-bottom: 11px;
}

.button-link{
    display: inline-block;
    background: #50E3C2;
    border-radius: 3px;
    width: 227px;
    height: 50px;
    text-decoration: none;
    color: #0F3D33;
    text-align: center;
}

.credit-card{
    font-size: 14px;
    line-height: 28px; 
    text-align: center;
    margin-bottom: 120px;
}

.our-quality{
    padding-top: 125px;
    padding-bottom: 120px;
}

.quality-list{
    display: flex;
    justify-content: space-between;
}

.quality-cart{
    width:307px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circles{
    position: relative;
    margin-bottom: 30px;
}

.cart__big-circle{
    width: 50px;
    height: 50px;
    opacity: 0.06;
    border-radius: 50%;
}

.cart__big-circle_background_red{
    background: #FC5C65;
}

.cart__small-circle{
    position: absolute;
    top:40%;
    left: 40%;
    width: 10px;
    height: 10px;
    border-radius:50%;
}

.cart__small-circle_background_red{
    background: #FC5C65;
}

.quality__title{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.description-text{
    font-size: 18px;
    line-height: 34px;
}

.quality__description-text{
    text-align: center;
}

.ver-line{
    width:1px;
    height: 100px;
    margin:125px 41px 0 41px;
    background: #E8E8EA;
}

.cart__small-circle_background_blue{
    background: #50E3C2;;
}

.cart__big-circle_background_blue{
    background: #50E3C2;;
}

.cart__big-circle_background_purple{
    background: #A665FB;
}

.cart__small-circle_background_purple{
    background: #A665FB;
}

.our-statistics{
    background-color: #F8FBFE;
    padding-top: 120px;
    padding-bottom: 120px;
}

.statistics-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statistics__images{
    position: relative;
    margin-right: 360px;
    height: 460px;
}

.bitmap{
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.1033);
}

.analitycs{
    position: absolute;
    top:100px;
    left:130px;
    z-index: 500;
    box-shadow: 0px 22px 54px 0px rgba(0, 0, 0, 0.136);

}

.manage__title{
    font-size: 38px;
    line-height: 50px;
    font-weight: 700;
}

.manage__description{
    font-size: 18px;
    color:#323232;
    margin-bottom: 25px;
    line-height: 32px;
}

.button-link_background{
    background:rgba(80, 227, 194, .14);
}